.container {
  /* height: 700px; */
  width: 800px;
  margin: 200px auto;
  background-color: black;
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.2);
  display: grid;
  /* grid-template-columns: 100px 1fr 2fr 100px; */
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-rows: 1fr 2fr 1fr 2fr; */
  /* grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-auto-flow: column;
  grid-auto-columns: 200px;
}

.box {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

/* .box2 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  grid-area: b;
}
.box3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  grid-area: c;
}
.box4 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  grid-area: d;
} */
